body {
    background-color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #0d1475;
}

h2 {
    color: #0d1475;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: black;
}

#foto {
    width: 20%;
    float: left;
    border: transparent solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 1000px;
}

#textos {
    float: right;
    margin-right: 15%;
    font-weight: 400;
    margin-bottom: 60%;
    padding-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;;
    position: absolute;
    right: 0px;
    width: 800px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    text-decoration: underline;
    color: #0d1475;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom: 0;
}

.direita {
    float: right;
}

.esquerda {
    float: left;
}

#fotinha {
    max-width: 40px;
}
#fotinha_meio{
    max-width: 60px;
}

.poster {
    max-height: 60vh;
    margin-left: 10px;
    margin-top: 30vh;
}

ul {
    margin-right: 50px;
}

#praia {
    max-width: 320px;
}

#center {
    text-align: center;
    text-size-adjust: 1000;
}